* {
  box-sizing: border-box;
}

nav {
  background-color: black;
  position: fixed;
  width: 435px;
  height: 50px;
  box-sizing: border-box;
}

.location{
display: block;
box-sizing: border-box;
background-color: #dbd9db;
width: 100%;
}

.location:hover {
    background-color: #abaaab;
}

.clear {
  clear: both;
}

.content{
box-sizing: border-box;
border-bottom: 1px solid grey;
float:left;
width: 90%;
}

.content h1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0 0 20px;
  text-align: left;
}

.content h3 {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 16px;
  padding: 0 0 20px 20px;
  text-align: left;
}

.container {
  box-sizing: border-box;
  background-color: #dbd9db;
  margin: 0 auto;
  width: 435px;
}

.restaurant-list {
  padding-top: 50px;
  width: 435px;
  height: 50px;
  }

body {
    background-color: #343334;
  }

    a{
      color: #000000;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 10px;
    }

    .arrow{
      float: right;
      box-sizing: border-box;
      padding: 20px 20px 24px 0;
      width: 10%;
      border-bottom: 1px solid grey;
    }

    .arrow-left{
    float: left;
    padding: 10px 0 15px 15px;
    clear: both;
    }
